.btn-trac, .btn-tou {
  display: block;
  border-radius: .5rem;
  margin: auto;
  box-shadow: #000 0.25em 0.25em 0.15em;
	padding: .25rem;
  font-weight: 800;
  a {
    text-decoration: none;
  }
	@include respond-to('tablet') {
		padding: .45rem;
  }
	@include respond-to('desktop') {
		padding: .55rem;
  }
	@include respond-to('lg-desktop') {
		padding: .65rem;
  }
}

.btn-trac {
	width: 90%;
	background-color: $primaryBackground;
	text-transform: uppercase;
  color: white;
  &:disabled {
    background-color: white;
    color: $primaryBackground;
  }
}

.btn-tou {
  word-wrap: nowrap;
  background-color: $primaryPop;
  color: $primaryBackground;
}

.submit-btn {
  margin: .25rem 0;
  @include respond-to('tablet') {
    margin: .35rem 0;
  }
  @include respond-to('desktop') {
    margin: .5rem 0;
  }
  @include respond-to('lg-desktop') {
    margin: .55rem 0;
  }
}

.terms-check {
  max-width: 200px; 
  margin-top: .75rem; 
  margin-bottom: .75rem;
  @include respond-to('tablet') {
    max-width: 200px; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
  }
  @include respond-to('desktop') {
    max-width: 300px; 
    margin-top: 1.25rem; 
    margin-bottom: 1.25rem;
  }
}

