.card {
	border: .25px $primaryText solid;
	border-radius: .5rem;
	max-width: 95%;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	@include respond-to('desktop') {
		width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  li {
    list-style: none;
  }
}

.form-label {
  margin: .5rem;
  text-align: center;
}

.input-row {
  justify-content: space-between;
}

.card-header {
	color: $primaryText;
}

.card-body {
  display: block;
  .form-grid {
    @include respond-to('desktop') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .form-control-lg {
        width: 95%;
      }
    }
  }
}

form {
  @include respond-to('desktop') {
    width: 100%;
  }
}

#tou {
  max-height: 80vh;
}

.modal-footer {
  display: inline;
  margin: auto;
  border-top: none;
}
.tou-modal-link {
  font-weight: 800;
  font-size: 1.5rem;
  color: $primaryBackground;
}

.Toastify__toast-container {
  width: 70vw;
  font-size: 2rem;
}

.desktop-grid {
  @include respond-to('desktop') {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
.tou-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}




